/* reset */
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}


/* Chargement des polices internes*/
@font-face {
	font-family: 'introrustg-base2line' ;
	src: url('fonts/introrustg-base2line.otf');
}

/* Elements*/

	/* dans le header*/
		header {
			background-image: url(../images/header3.png);
			background-size: 50%;
			/*width: 100%;*/
			/*background-size: cover;*/
			background-size: contain;
			background-attachment: fixed;
			background-repeat: no-repeat;
			text-align: center;
			/*max-height: 40em;*/
		}
		#nomSiteTitre{
			font-family: introrustg-base2line, Orbitron, Impact;
			font-size: 600%;
		}
		#acrocheSitetitre{
			font-size: 200%;
			font-family:  Orbitron;
			color: white;
			text-align: right;
			margin: bottom right;/*
			text-align: right;*/
			font-style: italic;
		}

	/* barre de navigation*/



/*		.navigation {
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			background: #eee;
			padding: 20px;

		}*/
		ul {
		  display:flex; 
		  align-items: stretch; 
		  justify-content: flex-start;
		}

		li{
		  list-style-type:none; 
		  /*display:flex;*/
		  flex-grow:1;
		  align-items:center;
		  flex-direction: column;
		  text-align:center;
		  border:1px solid #fff;
		  text-align:center;
/*			width: 150px;
			height: 100px;
			background-color: black;*/
		}
		a {
		  color:#fff;
		  padding:10px;
		  margin-right:1px;
		  flex: 1;
		  display: flex;
		  align-content: center;
		  align-items: center;
		  text-align: center;
		  justify-content: center;
		  background-color:#000;
  		  text-decoration: none;
			/*color: white;
			background-color: black;
			border: 1px;
			border-style: solid;
			border-color: white;*/
		}

		.ariane{
			color: red;
		}


	/* dans le reste */
		#chap1 , #chap2, #chap3{
			padding: 2% 5%;
			font-size: 125%;
			/*margin: 5%;*/
			background-repeat: no-repeat;
			background-size: 110%;
		}
		#chap1 {
			background-image: url(../images/starmap2.png);
			background-attachment: fixed;
			color: gray;
		}
		#chap2 {
			background-image: url(../images/orga7.png);
			background-attachment: fixed;
			color: black;
		}
		#chap3 {
			background-color: silver;
			color: black;
		}


/* Classes */

.nomSiteTexte{
	font-family: Orbitron, Impact;	
}
.acroche{
	margin: 5%;
	margin-left: 0%;
	font-family: Trebuchet MS;
	/*font-size: 6 %;*/
	/*vertical-align: center;*/
	color: rgba(125, 125, 125, 10);
	text-shadow : 6px 6px 6px rgba(125, 125, 125, 0.7);
	/* bordures */
	border : 10px;
	border-radius: 20px;
	box-shadow: 6px 6px 10px #333333;
	background-color: rgba(0, 0, 0, 0.6);
}
.acroche , p::first-letter { 
	font-size: 300%; 
	font-style: italic;
	font-weight: bold;
	float: left;
}
.premierMot  {
	text-transform: uppercase; 
}
/*.images {
	float: right;
	width: 50%;
}*/
.text{
	font-family: "Barlow Condensed";
}
.minuscule{
	font-size: 40%;
}
.question {
	font-size: 120%;
}
