/* reset */
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}


/* Chargement des polices internes*/
@font-face {
	font-family: 'introrustg-base2line' ;
	src: url('fonts/introrustg-base2line.otf');
}

/* Elements*/

	/* dans le header*/
		header {
			background-image: url(../images/header3.png);
			background-size: 20%;
			/*width: 100%;*/
			/*background-size: cover;*/
			background-size: contain;
			background-attachment: fixed;
			background-repeat: no-repeat;
			text-align: center;
			/*max-height: 40em;*/
		}
		#nomSiteTitre{
			font-family: introrustg-base2line, Orbitron, Impact;
			font-size: 600%;
		}
		#acrocheSiteTitre{
			font-size: 200%;
			font-family:  Orbitron;
			color: white;
			text-align: right;
			margin: bottom right;
			font-style: italic;
		}

	/* barre de navigation*/

		ul {
		  display:flex; 
		  align-items: stretch; 
		  justify-content: flex-start;
		}

		li{
		  list-style-type:none; 
		  flex-grow:1;
		  align-items:center;
		  flex-direction: column;
		  text-align:center;
		  border:1px solid #fff;
		  text-align:center;
		}
		a {
		  color:#fff;
		  padding:10px;
		  margin-right:1px;
		  flex: 1;
		  display: flex;
		  align-content: center;
		  align-items: center;
		  text-align: center;
		  justify-content: center;
		  background-color:#000;
  		  text-decoration: none;
		}

		.ariane{
			color: red;
		}


	/* dans le reste */
		#chap1, #chap2, #chap3{
			padding: 2% 5%;
			font-size: 125%;
			background-repeat: no-repeat;
			background-size: 110%;
			background-attachment: fixed;
		}
		#accueil{
			background-image: url(../images/nidParuline1.png);
			color: rgba(200, 200, 200, 1);
			/* ...Bizarre! */
			padding: 10% 5%;
			font-size: 125%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-attachment: fixed;
		}
		#chap1 {
			background-image: url(../images/starmap2.png);
			color: gray;
		}
		#chap2 {
			background-image: url(../images/orga7.png);
			color: black;
		}
		#chap3 {
			background-color: silver;
			color: black;
		}


/* Classes */

.nomSiteTexte{
	font-family: Orbitron, Impact;	
}
.acroche{
	margin: 5%;
	margin-left: 0%;
	font-family: Trebuchet MS;
	/*font-size: 6 %;*/
	/*vertical-align: center;*/
	color: rgba(125, 125, 125, 10);
	text-shadow : 6px 6px 6px rgba(125, 125, 125, 0.7);
	/* bordures */
	border : 10px;
	border-radius: 20px;
	box-shadow: 6px 6px 10px #333333;
	background-color: rgba(0, 0, 0, 0.6);
}
.acroche , p::first-letter { 
	font-size: 300%; 
	font-style: italic;
	font-weight: bold;
	float: left;
}
.premierMot  {
	text-transform: uppercase; 
}
/*.images {
	float: right;
	width: 50%;
}*/
.text{
	font-family: "Barlow Condensed";
}
.minuscule{
	font-size: 40%;
}
.question {
	font-size: 120%;
}
